@charset "UTF-8";

body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }

    
    .produtos {
      display: flex;
      flex-wrap: wrap; 
      gap: 30px; 
      justify-content: center;
    }

    
    .produto {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      width: 280px; 
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      
    }

    .produto img {
      width: 200px;
      border-radius: 5px;
      
    }

    .info h2 {
      font-size: 18px;
      text-align: center;
      margin: 10px 0;
    }

    

    .preco-compra {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .preco {
      background-color: #ddd;
      color: red;
      font-weight: bold;
      padding: 10px;
      font-size: 18px;
    }

    p{
        text-align: center;
    }

    a{
        text-decoration: none;
        background: #ff0000;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
    }

    header h1 {
        font-family: Arial, sans-serif;
        padding: 10px;
        background-color: #ff0000;
        font-size: 30px;
        text-align: center;
    }

    .tabela-precos {
    width: 32%;
    border-collapse: collapse; 
    margin: 20px auto;
    font-family: Arial, sans-serif;
    table-layout: auto;
    }


    .tabela-precos th {
        background-color: #ff0000;
        color: #fff;
        padding: 10px;
        text-align: left;

    }
    h2 {
        text-align: center;
        margin-top: 20px;
    }

    .video {
        text-align: center;
        margin-top: 20px;
    }

    .mapa {
        text-align: center;
        margin-top: 20px;
    }

    .suporte {
        text-align: center;
        margin-top: 20px;
    }

    header .entrar {
        header .btn {
    position: absolute;
    right: 1rem;   /* gruda no canto direito */
    top: 50%;      /* centraliza verticalmente */
    transform: translateY(-50%); /* ajusta pra ficar bem no meio */
    
    background-color: white;
    color: red;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
    }
    header h1{
    margin: 0;
    color: black;

    }

    header{
        background-color: red;
    padding: 1rem;
    text-align: center; /* centraliza o h1 */
    position: relative; /* necessário pro botão absoluto funcionar */
    } 

    .entrar:hover {
      transform: scale(1.05);
    }